.hoku-landing-background {
  padding: 30px 10px 30px 10px;
  background: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/IjFi-wx/simulated-stars-in-night-sky_v1fysmn7__F0000.png) !important;
}

.tops {
  color: #abfdff;
  font-size: 150px;
  background: url(https://i.redd.it/66hz1cc1ix111.gif);
  text-align: center;
  margin: 0;
  padding: 100px;
  font-family: 'Abril Fatface', cursive;
}


.h2 {
  font-family: 'Volkhov', serif;
  color: #abfdff;
  text-align: center;
  font-size: 30px;
}

.p {
  font-family: 'Volkhov', serif;
  color: #abfdff;
  text-align: center;
  font-size: 30px;
}

.td {
  font-family: 'Volkhov', serif;
  color: #abfdff;
  text-align: center;
  font-size: 30px;
}



.td{
  font-size: 20px;
}

.table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 200px;
}
.card {
  text-align: center;
  border: 10px solid white;
  box-shadow: 10px 10px 50px 30px #abfdff;
  background: black;
  color: #abfdff;
  font-family: 'Abril Fatface', cursive;
}

.end{
  text-align: center;
  margin-bottom: 50px;
}




.title {
  font-size: 72px !important;
}

.subheader {
  font-size: 36px !important;
}

.overlay {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: auto;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
}

.blankspace {
  padding: 70px 0px 0px 0px;
}

.instruct {
  font-size: 40px !important;
}

.top-header {
  padding-top: 12px !important;
}

.right-button {
  text-align: right;
}

.available {
  background-color: #21BA45 !important;
}

.in-use {
  background-color: #daa300 !important;
}

.out-of-order {
  background-color: #DB2828 !important;
}

.status {
  color: white !important;
  display: inline-block !important;
}

.buttoning {
  margin-right: 100px !important;
}
